<div class="divider"></div>
<div class="container" style="padding-top:20px;">
	<div class="text-center row">
		<div class="col-md-1">
			<a href="/government-app/" class="btn btn-red btn-home">
			  <span class="glyphicon glyphicon glyphicon-home"></span>
			</a>
		</div>
		<div class="col-md-1">
			<a ng-show="item.id > 1" ng-href="#/items/item/item{{item.id - 1}}" class="btn items-btn">
				<span class="glyphicon glyphicon-chevron-left icon-header"></span>
			</a>
		</div>
		<div class="col-md-9">
			<h2 class="red-title">{{item.title}}</h2>
		</div>
		<div class="col-md-1">
			<a ng-show="item.id < items.length" ng-href="#/items/item/item{{item.id + 1}}" class="btn items-btn">
				<span class="glyphicon glyphicon-chevron-right icon-header"></span>
			</a>
		</div>
	</div>
	<div class="divider"></div>
	<div class="row">
		<div class="col-md-6">
			<div ng-controller="CarouselDemoCtrl" style="margin-left: 30px">
			  <div style="height:400px;">
			    <carousel interval="myInterval">
			      <slide ng-repeat="image in item.images">
			        <img ng-src="images/{{image}}" style="margin:auto; width: 540px;">
			        <div class="carousel-caption">	
			        </div>
			      </slide>
			    </carousel>
			  </div>
			</div>
		</div>
		<div class="col-md-6">
			<p>{{item.description}}</p>
			<br />
			<p>{{item.preview}}</p>
			<ul class="list-unstyled">
				<li ng-repeat="accomplishment in item.accomplishments">
					<div><span class="glyphicon glyphicon-ok" style="color: #FF0000; font-size: 16px;"></span> 
						{{accomplishment}}
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="divider"></div>
	<div class="row text-center">
		<div my-youtube code="code"></div>
	</div>
	<div class="divider"></div>
	<hr>
	<div class="row text-center">
		<div class="col-md-6">
			<img src="images/character2.png" class="character-image" style="margin-top: 15px;">
			<img src="images/text-globe.png" class="character-buble-first">
			<span class="character-text first-text">Si te gusto esta informacion comparteia en Facebook <br />
				 <a href="javascript:openFacebookSharer('http://yoav.dhdinc.com/government-app')" class="facebookShare" >
				 	<img src="images/Facebooklogo.png" alt="facebook" style="width: 77px;"/>
				</a>
			</span>
		</div>
		<div class="col-md-6">
			<img src="images/character3.png" class="character-image">
			<img src="images/text-globe.png" class="character-buble">
			<span class="character-text second-text">O tambien compartela en Twitter <br />
						<a twitter  data-lang="en" data-count='horizontal' data-url='http://yoav.dhdinc.com/government-app' data-via='notsosleepy' data-size="medium" data-text='Estas son las obras que el Perú tiene para ti' ></a>
			</span>
		</div>
	</div>
	<div class="divider">&nbsp;</div>
	<h2 class="red-title text-center">Y ahora, crees que el peru ha cambiado? <br /> 
	Te invitamos a compartir tu opinion
	</h2>
	<div class="divider"></div>
	<div class="survey-link text-center">
	    <a href="#survey" class="btn btn-red btn-huge">Dar mi opinion</a>
	    <img src="images/triangle.png" alt="triangle" class="triangle">
	    <img src="images/character1.png" alt="person" class="person">
	</div>
</div>
<div class="container-fluid" style="background-color: #fff">
	<div class="fb-comments" data-href="http://www.yoav.dhdinc.com/government-app" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
</div>

